:root {
    --accent-color: #E5E5E5;
    --main-color: #2E2F42;
    --text-color: #FFFFFF;
    --btn-color: #4D5AE5;
    --back-color: #E7E9FC;
    --end-color: #F4F4FD;
    --one-color: #434455;
    --last-color: #404bbf;
    --custumer-color: #8e8f99;
}

/*body*/

body {
    font-family: "Roboto", sans-serif;
    color:  var(--one-color);
    background-color: var(--text-color);
}

.link-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--btn-color);
    text-transform: uppercase;
    margin-right: 76px;
}
.link {
    text-decoration: none;
}

.listhed {
    display: none;
}

* {
    box-sizing: border-box;
 }

.header-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header {
    padding-top: 24px;
    padding-bottom: 22px;
}

.list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


ul, li, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


.listts {
    display: flex;
    align-items: center;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*logo*/

.logo-color {
    color: var(--main-color);
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*adress*/

.header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--one-color);
    font-style: normal;
    list-style: none;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-adress {
    display: none;
}

.header-link:hover{
    color: var(--last-color);
}

.header-link:focus{
    color: var(--last-color);
}

/*.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 12px 0;
    position: relative;
    color: var(--one-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}*/

.current {
    color: var(--last-color);
}

.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--last-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    bottom: -1px;
    opacity: 1;

 }


.header-adress-link:hover {
    color: var(--last-color);
    
}
.header-adress-link:focus {
    color: var(--last-color);
    
}
.header-adress {
    /*display: flex;
    text-decoration:none;
    font-style: normal; 
    margin-left: auto; */
    display: none;
}
.listad {
    display: flex;
    gap: 40px;
}


/*Секція перша*/

.studio {
    background-color: var(--main-color);
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-1x.png);
    max-width: 428px;
    max-height: 432px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
   
}

@media (max-width: 426px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   .studio {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../images/people-office-mob-2x.png);
      max-width: 428px;
   }
}

@media (min-width:427px) {
   .studio {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../images/people-office-table-1x.png);
      max-width: 768px;
   }
}

@media (min-width: 427px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   .studio {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../images/people-office-table-2x.png);
      max-width: 768px;
   }
}

.container-studio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firsth {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em; 
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    justify-content: center;
    margin-bottom: 72px;
    color: var(--text-color);
}

.studio .first-btn {
    background-color: var(--btn-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-color);
    margin-top: 48px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-btn:hover {
    background-color: var(--last-color);
}

.first-btn:focus {
    background-color: var(--last-color);
}

/*Секція друга*/

.icon {
    display: flex;
    height: 112px;
    border-radius: 4px;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    margin-bottom: 8px;
 }

.def {
    width: 100%;
    max-width: 396px;
}

.choose{
    /*background-color: var(--text-color);*/
    padding: 96px 0;
}

.listchoose {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.container-choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.first-choose {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--main-color);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.second-choose {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--one-color);
    letter-spacing: 0.02em;
}

.def-picture {
    display: none;

}

/*Секція третя*/

.work {
    display: none;
}

.work .first-work {
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 72px;
}

.container-work {
    display: block;
}

.listwork {
    gap: 24px;
}

.def-two {
    display: block;
    width: calc((100% - 48px) / 3);
}

.image-item {
    display: block;
    width: 100%;
    height: auto;
}
/*Секція четверта*/

.team {
    background-color: var(--end-color);
    padding: 96px 0;
}

.first-team {
    margin-bottom: 72px;
    text-align: center;
    size: 36px;
}

.listteam {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.people-team-one:not(:last-child) {
    margin-bottom: 72px;
 }
 
.people-team-one {
    background-color: var(--text-color);
   
    display: block;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.peoplee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.second-team {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-color);
    letter-spacing: 0.02em;
    
    text-align: center;
}

/*.wrap-divv {
    padding: 32px 16px;
}*/

.third-team {
    font-size: 16px;
    line-height: 1.5;
    color: var(--one-color);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-link {
    width: 100%;
    height: 100%;
    background-color: var(--btn-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
    fill: var(--end-color);
}


/*Секція пята*/

.custumer {
    padding-top: 96px;
    padding-bottom: 96px;
}

.custumer-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}

.custumer-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
    max-width: 190px;
}

.custumer-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--custumer-color);
    color: var(--custumer-color);
    
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custumer-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

.custumer-link:focus {
    border-color: var(--last-color);
    color: var(--last-color);
}

.custumer-link:hover {
    border-color: var(--last-color);
    color: var(--last-color);
}


.custumer-h {
    margin-bottom: 72px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

/*Секція footer*/

.all-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-ap {
    width: 268px;
    margin-bottom: 72px;
}

.end {
    background-color: var(--main-color);
    /*text-decoration: none;
    list-style: none;
    padding-top: 101.5px;
    padding-bottom: 100px;*/
    padding: 100px 0;
}

.end-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--end-color);
   
    width: 264px;
}

.p-social-media {
    position: absolute;
    width: 96px;
    height: 24px;
    left: 540px;  
    color: var(--text-color);  
}

.li-social-media {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: var(--btn-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color: #31d0aa;
}

.footer-link:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: currentColor;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
    background-color: #31d0aa;

}

.ul-social-media {
    display: flex;
    gap: 16px;
    align-items: center;
    
}

.social-media-footer {
    width: 208px;
    margin-bottom: 72px;

}

.p-sociall-media {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    align-items: center;
}

.form-footer {
    display: flex;
    gap: 24px;
}

.subscribe-container {
    width: 398px;
}

.form-footer-input {
    border: 1px solid var(--text-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    margin-bottom: 16px;

}
.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    align-items: center;
}

.footer-svg {
    margin-left: 16px;
    width: 24px;
    height: 24px;
    fill: var(--text-color);
}

.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    background-color: var(--btn-color);
    margin-right: auto;
    margin-left: auto;
    padding: 16px 24px;
}

.footer-button:focus {
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #31d0aa;

}

.footer-button:hover {
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #31d0aa;
}

::placeholder {
    font-size: 12px;
}

/* Вікно Modal*/

.contact-window{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color:  var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}


.contact-window.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0);

}

.modal-window-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    color: var(--text-color);
    align-items: center;
    justify-content: center;

    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-window-close:hover {
    fill: currentColor;
    background-color: var(--last-color);
    border: none;
    transform: translateY(0%);
}

.modal-window-close:focus {
    background-color: var(--last-color);
    border: none;
    fill: currentColor;
    transform: translateY(0%);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-window-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-title {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #2E2F42;
    
    margin-bottom: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
}

.modal-window-input {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 30px;

    outline: transparent;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-input:focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-color: var(--btn-color);
}

.modal-window-input:focus + .modal-window-svg {
    fill: var(--btn-color);
}

.modal-window-labeldiv {
    margin-bottom: 8px;
}

.modal-window-div {
    position: relative;

}

.modal-window-label {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    line-height: 1.17; 
    display: block; 
    margin-bottom: 4px; 
}

.modal-window-label span {
    display: block;
    margin-bottom: 4px;
}

.modal-window-svg {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-comment {
    width: 100%;
    height: 120px;
    border: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-comment:focus {
    border-color: var(--btn-color);
}

.modal-window-button {

    background-color: var(--btn-color);
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    letter-spacing: 0.04em;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    border-color: transparent;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-accept-privacy-check {
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    line-height: 1.17;
}

.modal-window-privacy:checked + .modal-accept-privacy-check span {
    background-color: var(--last-color);
    border: 1px solid var(--last-color);
    border-radius: 2px;
    fill: #F4F4FD;
    border: none;
}

.modal-check-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.link-check {
    text-decoration: revert;
    color: #4D5AE5;
    margin-left: 2px;
}

.modal-window-checkbox {
    margin-bottom: 24px;
}

.class-modal-window-labeldiv {
    margin-bottom: 16px;
}

/*portfolio*/

.porfolio-section {
    padding-top: 48px; 
    padding-bottom: 48px;
}

.listtts {
    row-gap: 16px;
    flex-wrap: wrap;
    border-radius: 4px;
    margin-bottom: 48px;
}

.btn-portfolio {
    margin-right: 24px;
}


.second-btn {
    color: var(--btn-color);
    background-color:#F4F4FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--back-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

.second-btn:hover{
    background-color: #404BBF;
    color: var(--text-color);
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0,0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.second-btn:focus{
    background-color:#404BBF; 
    color: var(--text-color);
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0,0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} 


.logoo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
     font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--btn-color);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; 
    margin-bottom: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

.app-conttainer {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.links {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.links:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    
}

.links:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    
}

.links:hover .content-cover-text,
.links:focus .content-cover-text {
    transform: translateY(0);  
}

.picture-portfolio {
    display: block;
    width: 100%;
    height: auto;
}

    /*portfolio footer*/

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
     font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--btn-color);
    text-transform: uppercase;
}

.logo-color-two {
    color: #f4f4fd;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style: none;
}

/*section 1 portfolio*/

.links-textt{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.links-textt-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}


.listtsport {
    flex-wrap: wrap;
    row-gap: 48px;
} 

/*.section-link {
    width: calc((100% - 48px) / 3);  
}*/


.content-cover-wrap {
    position: relative;
    overflow: hidden;

}

.content-cover-text {
    position: absolute;
    top: 0;
    height: 100%;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*mob-menu*/

.mob-menu-open {
    border: none;
    background-color: transparent;
 
    padding: 0;
    stroke: var(--text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 0;
 }
 
 .page-adress {
    display: none;
 }
 
 .mob-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
 }
 
 .menu-modal-close {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    padding: 0;
    margin-bottom: 32px;
 
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
 }
 
 .mob-close-icon {
    width: 8px;
    height: 8px;
    counter-reset:  #2e2f2e;
 }
 
 .mob-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
 }
 
 .mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
 
    color: #2E2F42;
 }
 
 @media screen and (max-width: 767px) {
 
    .mob-menu-link.active,
    .mob-menu-link:hover,
    .mob-menu-link:focus {
       color: #404BBF;
    }
 }
 
 .mob-menu-link:is(:hover, :focus) {
    color: #404BBF;
 }
 
 .mobil-menu-adress {
    font-style: normal;
    margin-bottom: 48px;
 }
 
 .mob-menu-tel-link {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.11;
    letter-spacing: 0.02em;
 
    color: #4D5AE5;
 }
 
 .mob-menu-adress-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
 }
 
 .mob-soc-list {
    display: flex;
    gap: calc((100% - 168px) / 4);
    justify-content: flex-start;
    align-items: center;
    max-width: 328px;
 }
 
 .mob-soc-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4D5AE5;
 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }
 
 .mob-soc-icon {
    fill: #F4F4FD;
 }

 .listhed {
    display: none;
}

